@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --text-50: #ece9fb;
      --text-100: #d8d3f8;
      --text-200: #b1a8f0;
      --text-300: #8b7ce9;
      --text-400: #6451e1;
      --text-500: #3d25da;
      --text-600: #311eae;
      --text-700: #251683;
      --text-800: #180f57;
      --text-900: #0c072c;
      --text-950: #060416;
      
      --background-50: #eeeafb;
      --background-100: #dcd4f7;
      --background-200: #baa9ef;
      --background-300: #977ee7;
      --background-400: #7454de;
      --background-500: #5129d6;
      --background-600: #4121ab;
      --background-700: #311881;
      --background-800: #211056;
      --background-900: #10082b;
      --background-950: #080415;
      
      --primary-50: #edeafb;
      --primary-100: #dbd4f7;
      --primary-200: #b7aaee;
      --primary-300: #947fe6;
      --primary-400: #7055dd;
      --primary-500: #4c2ad5;
      --primary-600: #3d22aa;
      --primary-700: #2e1980;
      --primary-800: #1e1155;
      --primary-900: #0f082b;
      --primary-950: #080415;
      
      --secondary-50: #f2eafb;
      --secondary-100: #e5d4f7;
      --secondary-200: #cbaaee;
      --secondary-300: #b17fe6;
      --secondary-400: #9755dd;
      --secondary-500: #7d2ad5;
      --secondary-600: #6422aa;
      --secondary-700: #4b1980;
      --secondary-800: #321155;
      --secondary-900: #19082b;
      --secondary-950: #0c0415;
      
      --accent-50: #f5eafb;
      --accent-100: #ead4f7;
      --accent-200: #d5aaee;
      --accent-300: #c07fe6;
      --accent-400: #ab55dd;
      --accent-500: #962ad5;
      --accent-600: #7822aa;
      --accent-700: #5a1980;
      --accent-800: #3c1155;
      --accent-900: #1e082b;
      --accent-950: #0f0415;
      
    }
    .dark {
      --text-50: #050416;
      --text-100: #0a082b;
      --text-200: #140f57;
      --text-300: #1e1782;
      --text-400: #281fad;
      --text-500: #3226d9;
      --text-600: #5b52e0;
      --text-700: #847de8;
      --text-800: #ada8f0;
      --text-900: #d6d4f7;
      --text-950: #ebe9fb;
      
      --background-50: #090416;
      --background-100: #12082b;
      --background-200: #240f57;
      --background-300: #351782;
      --background-400: #471fad;
      --background-500: #5926d9;
      --background-600: #7a52e0;
      --background-700: #9b7de8;
      --background-800: #bda8f0;
      --background-900: #ded4f7;
      --background-950: #eee9fb;
      
      --primary-50: #080415;
      --primary-100: #0f082b;
      --primary-200: #1e1155;
      --primary-300: #2e1980;
      --primary-400: #3d22aa;
      --primary-500: #4c2ad5;
      --primary-600: #7055dd;
      --primary-700: #947fe6;
      --primary-800: #b7aaee;
      --primary-900: #dbd4f7;
      --primary-950: #edeafb;
      
      --secondary-50: #0c0415;
      --secondary-100: #19082b;
      --secondary-200: #321155;
      --secondary-300: #4b1980;
      --secondary-400: #6422aa;
      --secondary-500: #7d2ad5;
      --secondary-600: #9755dd;
      --secondary-700: #b17fe6;
      --secondary-800: #cbaaee;
      --secondary-900: #e5d4f7;
      --secondary-950: #f2eafb;
      
      --accent-50: #0f0415;
      --accent-100: #1e082b;
      --accent-200: #3c1155;
      --accent-300: #5a1980;
      --accent-400: #7822aa;
      --accent-500: #962ad5;
      --accent-600: #ab55dd;
      --accent-700: #c07fe6;
      --accent-800: #d5aaee;
      --accent-900: #ead4f7;
      --accent-950: #f5eafb;
      
    }
  }  