@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #eff0f6;
    --text-100: #dfe2ec;
    --text-200: #bfc4d9;
    --text-300: #9fa7c6;
    --text-400: #7e8ab4;
    --text-500: #5e6da1;
    --text-600: #4b5781;
    --text-700: #394160;
    --text-800: #262b40;
    --text-900: #131620;
    --text-950: #090b10;
    
    --background-50: #eef1f7;
    --background-100: #dce2ef;
    --background-200: #b9c6df;
    --background-300: #96a9cf;
    --background-400: #738cbf;
    --background-500: #5070af;
    --background-600: #40598c;
    --background-700: #304369;
    --background-800: #202d46;
    --background-900: #101623;
    --background-950: #080b11;
    
    --primary-50: #ebeffa;
    --primary-100: #d6def5;
    --primary-200: #aebeea;
    --primary-300: #859de0;
    --primary-400: #5d7dd5;
    --primary-500: #345ccb;
    --primary-600: #2a4aa2;
    --primary-700: #1f377a;
    --primary-800: #152551;
    --primary-900: #0a1229;
    --primary-950: #050914;
    
    --secondary-50: #e9edfc;
    --secondary-100: #d2dcf9;
    --secondary-200: #a5b9f3;
    --secondary-300: #7895ed;
    --secondary-400: #4b72e7;
    --secondary-500: #1f4fe0;
    --secondary-600: #183fb4;
    --secondary-700: #122f87;
    --secondary-800: #0c205a;
    --secondary-900: #06102d;
    --secondary-950: #030816;
    
    --accent-50: #e6edfe;
    --accent-100: #cedafd;
    --accent-200: #9db6fb;
    --accent-300: #6b91fa;
    --accent-400: #3a6df8;
    --accent-500: #0948f6;
    --accent-600: #073ac5;
    --accent-700: #052b94;
    --accent-800: #041d62;
    --accent-900: #020e31;
    --accent-950: #010719;
    
  }
  .dark {
    --text-50: #090b10;
    --text-100: #131620;
    --text-200: #262b40;
    --text-300: #394160;
    --text-400: #4b5781;
    --text-500: #5e6da1;
    --text-600: #7e8ab4;
    --text-700: #9fa7c6;
    --text-800: #bfc4d9;
    --text-900: #dfe2ec;
    --text-950: #eff0f6;
    
    --background-50: #080a12;
    --background-100: #101423;
    --background-200: #202746;
    --background-300: #2f3b6a;
    --background-400: #3f4f8d;
    --background-500: #4f62b0;
    --background-600: #7282c0;
    --background-700: #95a1d0;
    --background-800: #b9c0df;
    --background-900: #dce0ef;
    --background-950: #edeff7;
    
    --primary-50: #050914;
    --primary-100: #0a1229;
    --primary-200: #152551;
    --primary-300: #1f377a;
    --primary-400: #2a4aa2;
    --primary-500: #345ccb;
    --primary-600: #5d7dd5;
    --primary-700: #859de0;
    --primary-800: #aebeea;
    --primary-900: #d6def5;
    --primary-950: #ebeffa;
    
    --secondary-50: #030816;
    --secondary-100: #06102d;
    --secondary-200: #0c205a;
    --secondary-300: #122f87;
    --secondary-400: #183fb4;
    --secondary-500: #1f4fe0;
    --secondary-600: #4b72e7;
    --secondary-700: #7895ed;
    --secondary-800: #a5b9f3;
    --secondary-900: #d2dcf9;
    --secondary-950: #e9edfc;
    
    --accent-50: #010719;
    --accent-100: #020e31;
    --accent-200: #041d62;
    --accent-300: #052b94;
    --accent-400: #073ac5;
    --accent-500: #0948f6;
    --accent-600: #3a6df8;
    --accent-700: #6b91fa;
    --accent-800: #9db6fb;
    --accent-900: #cedafd;
    --accent-950: #e6edfe;
    
  }
}

[data-pattern] {
  background-image: url('https://antoniputra.com/images/bg-pattern.svg');
  background-position: 50%;
  background-repeat: repeat;
  z-index: -999;
  background-size: 10;
  -webkit-mask-image: linear-gradient(180deg,transparent,#fff 50%,transparent);
  mask-image: linear-gradient(180deg,transparent,#fff 50%,transparent);
  opacity: .1
}
